@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=News+Cycle&display=swap');

$color-light: #fff;
$color-dark: #222f3e;
$color-bg: #c8d6e5;
$color-primary: #FFE81F;
$color-secondary: #000;
$color-bg-light: #43a5cf;
$color-success: #01916d;
$color-error: #aa2b05;

$font-header: 'News Cycle', sans-serif;
$font-text: 'Montserrat', sans-serif;

$radius: 4px;
$base-size: 12px;
$transition: all 0.3s;
